<!doctype html>
<html>
<head>
    <link href="./css/index.css" rel="stylesheet">
    <script src="./js/jquery.js"></script>

    <script type="text/javascript" src="./js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="./js/jquery.SuperSlide.2.1.1.js"></script>
    <script type="text/javascript" src="./js/ion.rangeSlider.js"></script>

    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="css/style2.css" rel="stylesheet" type="text/css">
    <link href="css/ion.rangeSlider.skinFlat.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/ion.rangeSlider.css" />
    <link rel="stylesheet" href="css/ion.rangeSlider.skinFlat.css" />

    <link href="course_customization.css" rel="stylesheet">

    <link href="animate.css" rel="stylesheet">
    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="ion.rangeSlider.css" rel="stylesheet">

    <meta charset="utf-8">
    <title>无标题文档</title>
</head>
<body>
<div class="header_bg">
    <div class="header">
        <a class="logo" href=""><img src="./images/logo.png"></a>
        <ul>
            <li><a href="/">首页</a></li>
            <li><a href="/course_customization">课程定制</a></li>
            <li><a href="">全球资讯</a></li>
            <li><a href="">学员社区</a></li>
            <li><a href="">关于我们</a></li>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>
{{{body}}}
<div class="footer">
    <div class="footer_txt">
        <ul class="lesson">
            <li><a style="color:white;font-size:16px;" href="">课程对象</a></li>
            <li><a href="">上班人士</a></li>
            <li><a href="">企业培训</a></li>
            <li><a href="">出国留学</a></li>
            <li><a href="">儿童对象</a></li>
        </ul>
        <ul class="help">
            <li><a style="color:white;font-size:16px;" href="">帮您提升</a></li>
            <li><a href="">英语口语</a></li>
            <li><a href="">英语听力</a></li>
            <li><a href="">商务英语</a></li>
            <li><a href="">英语阅读</a></li>
            <li><a href="">职业英语</a></li>
        </ul>
        <ul class="major">
            <li><a style="color:white;font-size:16px;" href="">学习专业</a></li>
            <li><a href="">育思云讲堂</a></li>
            <li><a href="">英语急救包开卡</a></li>
            <li><a href="">英语通关卡开卡</a></li>
            <li><a href="">开通学习充值卡</a></li>
            <li><a href="">代销商新客户体验卡</a></li>
        </ul>
        <ul class="service">
            <li><a style="color:white;font-size:16px;" href="">服务与下载</a></li>
            <li><a href="">APP下载</a></li>
            <li><a href="">软件测试与下载</a></li>
            <li><a href="">常见问题</a></li>
        </ul>
        <ul class="nav">
            <li><a style="color:white;font-size:16px;" href="">官网导航</a></li>
            <li><a href="">隐私保护</a></li>
            <li><a href="">安全条款</a></li>
            <li><a href="">服务条款</a></li>
            <li><a href="">诚征英才</a></li>
            <li><a href="">联络我们</a></li>
        </ul>
        <img class="line" src="./images/line.png">
        <div class="link">
            <p><a class="sub_link" href="">友情链接&nbsp;</a>
                <span><a href="">家教&nbsp;</a></span>
                <span><a href="">英语听力&nbsp;</a></span>
                <span><a href="">英语&nbsp;</a></span>
                <span><a href="">爱思英语&nbsp;</a></span>
                <span><a href="">英语语法&nbsp;</a></span>
                <span><a href="">英文阅读网&nbsp;</a></span>
                <span><a href="">高考网&nbsp;</a></span>
                <span><a href="">北京家教&nbsp;</a></span>
                <span><a href="">免费留学&nbsp;</a></span>
                <span><a href="">移民家园网&nbsp;</a></span>
                <span><a href="">英语学习&nbsp;</a></span>
                <span><a href="">在职研究生&nbsp;</a></span>
                <span><a href="">英语夏令营&nbsp;</a></span>
                <span><a href="">高考&nbsp;</a></span>
                <span><a href="">答案网&nbsp;</a></span>
                <span><a href="">招生&nbsp;</a></span>
                <span><a href="">中国讲师网&nbsp;</a></span>
                <span><a href="">留学网&nbsp;</a></span><br>
                <span><a href="">留学论坛&nbsp;</a></span>
                <span><a href="">考研&nbsp;</a></span>
                <span><a href="">经典语录&nbsp;</a></span>
                <span><a href="">培训网&nbsp;</a></span>
                <span><a href="">好好学习&nbsp;</a></span>
                <span><a href="">出境旅游&nbsp;</a></span>
                <span><a href="">小e英语&nbsp;</a></span>
                <span><a href="">英语教师网&nbsp;</a></span>
                <span><a href="">移民&nbsp;</a></span>
                <span><a href="">教育联展网&nbsp;</a></span>
                <span><a href="">MBA中国网&nbsp;</a></span>
                <span><a href="">外语自学网&nbsp;</a></span>
                <span><a href="">中国招生考试网&nbsp;</a></span>
                <span><a href="">考研培训班&nbsp;</a></span>
                <span><a href="">可可英语&nbsp;</a></span>
                <span><a href="">考研论坛&nbsp;</a></span>
                <span><a href="">VOA英语网&nbsp;</a></span>
            </p>
        </div>
        <div class="app">
            <img src="./images/APP.png">
            <span style="text-align:center;color:#9b9b9b;font-size:13px;
               margin-top:10px;">育思APP下载</span>
        </div>
    </div>
</div>
</body>
</html>